In [48]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time


# Import API key
import api_keys

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy


# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [29]:
api_key = "704562a0e399a1bdec66df88ddfde5fe"

In [30]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

636

In [31]:
url = f"https://api.openweathermap.org/data/2.5/weather?q=Denver&APPID={api_key}"
url

'https://api.openweathermap.org/data/2.5/weather?q=Denver&APPID=704562a0e399a1bdec66df88ddfde5fe'

In [32]:
# Temperature (F) vs. Latitude
# Humidity (%) vs. Latitude
# Cloudiness (%) vs. Latitude
# Wind Speed (mph) vs. Latitude

In [33]:
response = requests.get(url)
jason = response.json()

In [34]:
jason.keys()
temp = jason["main"]["temp"]

jason.keys()
humidity = jason["main"]["humidity"]

lat = jason["coord"]["lat"]

wind_speed = jason["wind"]["speed"]

cloudiness = jason["clouds"]["all"]

In [35]:
jason.keys()
jason

{'coord': {'lon': -104.98, 'lat': 39.74},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01n'}],
 'base': 'stations',
 'main': {'temp': 286.73,
  'pressure': 1021,
  'humidity': 62,
  'temp_min': 282.15,
  'temp_max': 292.15},
 'visibility': 16093,
 'wind': {'speed': 1.42, 'deg': 128.5},
 'clouds': {'all': 1},
 'dt': 1540172100,
 'sys': {'type': 1,
  'id': 602,
  'message': 0.0044,
  'country': 'US',
  'sunrise': 1540214262,
  'sunset': 1540253421},
 'id': 5419384,
 'name': 'Denver',
 'cod': 200}

In [36]:
data = []
for city in cities[:10]:
        
    # build a URL for the city
    url = f"https://api.openweathermap.org/data/2.5/weather?q={city}&APPID={api_key}"
    
    # use request to grab json information
    jason = requests.get(url).json()
    print(jason)
    try:
        # unpack json information
        jason.keys()
        temp = jason["main"]["temp"]

        jason.keys()
        humidity = jason["main"]["humidity"]

        lat = jason["coord"]["lat"]

        wind_speed = jason["wind"]["speed"]

        cloudiness = jason["clouds"]["all"]

        # output this information to a dictionary object
        data.append([temp, humidity, lat, wind_speed, cloudiness, city])
        
    except:
        pass

{'coord': {'lon': -39.27, 'lat': -17.73}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}], 'base': 'stations', 'main': {'temp': 297.004, 'pressure': 1030.8, 'humidity': 100, 'temp_min': 297.004, 'temp_max': 297.004, 'sea_level': 1030.9, 'grnd_level': 1030.8}, 'wind': {'speed': 6.42, 'deg': 129}, 'clouds': {'all': 80}, 'dt': 1540174536, 'sys': {'message': 0.0035, 'country': 'BR', 'sunrise': 1540195414, 'sunset': 1540240780}, 'id': 3466980, 'name': 'Caravelas', 'cod': 200}
{'coord': {'lon': -58.16, 'lat': 6.8}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}], 'base': 'stations', 'main': {'temp': 298.15, 'pressure': 1009, 'humidity': 94, 'temp_min': 298.15, 'temp_max': 298.15}, 'visibility': 10000, 'wind': {'speed': 2.1, 'deg': 40}, 'clouds': {'all': 75}, 'dt': 1540170000, 'sys': {'type': 1, 'id': 4343, 'message': 0.0035, 'country': 'GY', 'sunrise': 1540201142, 'sunset': 1540244098}, 'id': 3378644, 'name': 'Georgetown', 'cod': 200}
{'coord': {'lon': -68.31, 'lat': -54.81}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 270.679, 'pressure': 985.73, 'humidity': 100, 'temp_min': 270.679, 'temp_max': 270.679, 'sea_level': 1032.36, 'grnd_level': 985.73}, 'wind': {'speed': 2.12, 'deg': 228.5}, 'clouds': {'all': 0}, 'dt': 1540174536, 'sys': {'message': 0.0039, 'country': 'AR', 'sunrise': 1540199207, 'sunset': 1540250988}, 'id': 3833367, 'name': 'Ushuaia', 'cod': 200}
{'coord': {'lon': 115.35, 'lat': -33.64}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}], 'base': 'stations', 'main': {'temp': 289.504, 'pressure': 1032.74, 'humidity': 100, 'temp_min': 289.504, 'temp_max': 289.504, 'sea_level': 1033.82, 'grnd_level': 1032.74}, 'wind': {'speed': 6.47, 'deg': 225}, 'clouds': {'all': 68}, 'dt': 1540174536, 'sys': {'message': 0.0027, 'country': 'AU', 'sunrise': 1540157365, 'sunset': 1540204636}, 'id': 2075265, 'name': 'Busselton', 'cod': 200}
{'coord': {'lon': -133.03, 'lat': 69.44}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'base': 'stations', 'main': {'temp': 267.15, 'pressure': 1013, 'humidity': 92, 'temp_min': 267.15, 'temp_max': 267.15}, 'visibility': 24140, 'wind': {'speed': 6.7, 'deg': 90}, 'clouds': {'all': 90}, 'dt': 1540173600, 'sys': {'type': 1, 'id': 3555, 'message': 0.005, 'country': 'CA', 'sunrise': 1540225987, 'sunset': 1540255102}, 'id': 6170031, 'name': 'Tuktoyaktuk', 'cod': 200}
{'coord': {'lon': 118.96, 'lat': 42.27}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'base': 'stations', 'main': {'temp': 285.154, 'pressure': 928.82, 'humidity': 39, 'temp_min': 285.154, 'temp_max': 285.154, 'sea_level': 1027.25, 'grnd_level': 928.82}, 'wind': {'speed': 3.27, 'deg': 269.5}, 'clouds': {'all': 0}, 'dt': 1540174537, 'sys': {'message': 0.0028, 'country': 'CN', 'sunrise': 1540160675, 'sunset': 1540199525}, 'id': 2038067, 'name': 'Chifeng', 'cod': 200}
{'coord': {'lon': -70.91, 'lat': -53.16}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02n'}], 'base': 'stations', 'main': {'temp': 277.15, 'pressure': 1019, 'humidity': 80, 'temp_min': 277.15, 'temp_max': 277.15}, 'visibility': 10000, 'wind': {'speed': 3.1, 'deg': 210}, 'clouds': {'all': 20}, 'dt': 1540170000, 'sys': {'type': 1, 'id': 4642, 'message': 0.0033, 'country': 'CL', 'sunrise': 1540200080, 'sunset': 1540251357}, 'id': 3874787, 'name': 'Punta Arenas', 'cod': 200}
{'coord': {'lon': 39, 'lat': -13.13}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '02n'}], 'base': 'stations', 'main': {'temp': 290.079, 'pressure': 976.49, 'humidity': 90, 'temp_min': 290.079, 'temp_max': 290.079, 'sea_level': 1033.09, 'grnd_level': 976.49}, 'wind': {'speed': 7.27, 'deg': 173.5}, 'clouds': {'all': 8}, 'dt': 1540174537, 'sys': {'message': 0.0052, 'country': 'MZ', 'sunrise': 1540176874, 'sunset': 1540221750}, 'id': 1037125, 'name': 'Montepuez', 'cod': 200}
{'coord': {'lon': -60.23, 'lat': -38.31}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 287.629, 'pressure': 1016.21, 'humidity': 59, 'temp_min': 287.629, 'temp_max': 287.629, 'sea_level': 1028.31, 'grnd_level': 1016.21}, 'wind': {'speed': 4.72, 'deg': 235}, 'clouds': {'all': 0}, 'dt': 1540174537, 'sys': {'message': 0.0036, 'country': 'AR', 'sunrise': 1540199115, 'sunset': 1540247163}, 'id': 3833859, 'name': 'Barrow', 'cod': 200}
{'cod': '404', 'message': 'city not found'}

In [37]:
pd.DataFrame(data, columns = ["temp", "humidity", "lat", "wind_speed", "cloudiness", "city"])

      temp  humidity    lat  wind_speed  cloudiness          city
0  297.004       100 -17.73        6.42          80     caravelas
1  298.150        94   6.80        2.10          75    georgetown
2  270.679       100 -54.81        2.12           0       ushuaia
3  289.504       100 -33.64        6.47          68     busselton
4  267.150        92  69.44        6.70          90   tuktoyaktuk
5  285.154        39  42.27        3.27           0       chifeng
6  277.150        80 -53.16        3.10          20  punta arenas
7  290.079        90 -13.13        7.27           8     montepuez
8  287.629        59 -38.31        4.72           0        barrow

In [38]:
jason.keys()

dict_keys(['cod', 'message'])

In [49]:
pd.DataFrame(data)
pd.DataFrame(data, columns = ["temp", "humidity", "lat", "wind_speed", "cloudiness", "city"])

      temp  humidity    lat  wind_speed  cloudiness          city
0  297.004       100 -17.73        6.42          80     caravelas
1  298.150        94   6.80        2.10          75    georgetown
2  270.679       100 -54.81        2.12           0       ushuaia
3  289.504       100 -33.64        6.47          68     busselton
4  267.150        92  69.44        6.70          90   tuktoyaktuk
5  285.154        39  42.27        3.27           0       chifeng
6  277.150        80 -53.16        3.10          20  punta arenas
7  290.079        90 -13.13        7.27           8     montepuez
8  287.629        59 -38.31        4.72           0        barrow